@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --color-light-0: #ffffff;
    --color-light-200: #F5F5F5;
    --color-light-400: #e8e5e480;
    --color-light-600: #a7a6a6;
    --color-light-700: #7f7f7f;

    --color-dark-700: #1C1C1C;
    --color-dark-900: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mona Sans', sans-serif;
    color: var(--color-dark-900);
    background-color: var(--color-light-0);
}

.body-darkmode {
    color: var(--color-light-200);
    background-color: var(--color-dark-700);
}

a {
    text-decoration: none;
}

#pages-navegation-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#pages-navegation-box ul {
    display: flex;
    background-color: var(--color-light-400);
    padding: 4px;
    gap: 8px;
    border-radius: 40px;
    list-style: none;
    backdrop-filter: blur(10px);
}

#pages-navegation-box ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 12px;
    border-radius: 40px;
}

#in-profile {
    background-color: var(--color-light-0);
}

.in-profile-darkmode {
    background-color: var(--color-light-200) !important;
}

.not-in-profile-link-darkmode {
    color: var(--color-light-200) !important;
}

#pages-navegation-box ul li a {
    font-size: 0.8rem;
    color: var(--color-dark-900);
}

#darkmode-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#darkmode-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--color-light-400);
}

#darkmode-button button {
    background-color: transparent;
    color: var(--color-dark-900);
    border: none;
    font-size: 1.1rem;
    transition: transform 0.1s linear;
    width: 70%;
    height: 70%;
}

#darkmode-button button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button-toggle-darkmode {
    color: var(--color-light-200) !important;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 0px 30px;
}

header div h1 {
    font-weight: 500;
    font-size: 4.25rem;
    text-align: center;
}

header .pre-animation {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out 0.5s, transform 0.6s ease-out 0.5s;
}

header.active div h1 {
    opacity: 1;
    transform: translateY(0);
}

#generic-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 650px));
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 0px 40px;
}

.generic-image-box {
    position: relative;
    width: 100%;
    aspect-ratio: 1.3;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    background-color: var(--color-dark-900);
}

.generic-image-box img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.generic-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.generic-info-box ul {
    list-style: none;
}

.generic-info-box li {
    font-size: 0.8rem;
    border-radius: 40px;
    padding: 8px 10px;
    background-color: var(--color-light-400);
}

.generic-info-box h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

#about-box {
    padding: 160px 30px;
    width: 700px;
}

#about-box ul, #about-box h3 {
    opacity: 0;
    transform: translateY(40px);
}

#about-box ul {
    transition: opacity 0.6s ease-out 0.3s, transform 0.6s ease-out 0.3s;
}

#about-box h3 {
    transition: opacity 0.6s ease-out 0.4s, transform 0.6s ease-out 0.4s;
}

#about-box.active ul, #about-box.active h3 {
    opacity: 1;
    transform: translateY(0);
}

#where-worked-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 430px));
    justify-content: center;
    justify-items: center;
    padding: 45px;
    gap: 10px;
}

.where-worked-element {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.where-worked-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.where-worked-infos li {
    font-size: 0.9rem;
    color: var(--color-light-700);
}

.where-worked-infos .initiative-worked {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-dark-900);
}

.where-worked-infos .initiative-worked-darkmode {
    color: var(--color-light-200);
}

.type-work {
    font-size: 0.8rem;
    border-radius: 40px;
    padding: 8px 10px;
    background-color: var(--color-light-400);
}

#worked-with-box {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 350px));
    justify-content: center;
    justify-items: center;
    padding: 45px;
    gap: 10px;
}

.worked-with-element {
    display: flex;
    align-items: center;
    height: 20vh;
    font-size: 3rem;
}

#join-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

#join-box h2, #join-box h3 {
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
}

#join-box h2 {
    transition: opacity 0.6s ease-out 0.3s, transform 0.6s ease-out 0.3s;
}

#join-box h3 {
    transition: opacity 0.6s ease-out 0.4s, transform 0.6s ease-out 0.4s;
}

#join-box.active h2, #join-box.active h3 {
    opacity: 1;
    transform: translateY(0);
}

#join-box a {
    color: var(--color-light-700);
}

#join-box a:hover {
    color: var(--color-light-600);
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 14vw;
    font-size: 0.9rem;
}

#social-medias-navegation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-media-link {
    color: var(--color-dark-900);
}

.social-media-link:hover {
    color: var(--color-light-700);
}

.social-media-link-darkmode {
    color: var(--color-light-200) !important;
}

.social-media-link-darkmode:hover {
    color: var(--color-light-400) !important;
}

@media screen and (max-width: 1200px) {
    header {
        height: 50vh;
    }
}

@media screen and (max-width: 810px) {
    header div h1 {
        font-size: 3.1rem;
    }

    #generic-images {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 20px;
    }

    .generic-info-box h3 {
        font-size: 1.5rem;
    }

    #about-box {
        width: 100%;
    }
}

@media screen and (max-width: 530px) {
    #about-box {
        padding: 100px 30px;
    }

    #where-worked-box {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    #worked-with-box {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 40vh;
    }

    header div h1 {
        font-size: 2.6rem;
    }

    footer {
        flex-direction: column-reverse;
        gap: 20px;
    }
}
